<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>client to view streaming</title>
	<script>
    const room = "<%= roomName %>"
  </script>
		</head>
<body>
	<h1> view streaming </h1>
	<p id="name-channel">Channel : <%= roomName %></p>
	<script src="/socket.io/socket.io.js"></script>
	<script defer src="view_streaming.js"></script>
	<img id="streaming">

</body>

</html>
